<%- include('../includes/head.ejs')  %>
<%- include('../includes/navigation.ejs')  %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<% if(errorMessage){ %>
    <h1><%= errorMessage %></h1>
<% } %>
<form action="login" method="post">
    <input type="email" name="email" value="<%= oldInputValues.email %>" placeholder="enter email"> <br><br>
    <input type="password" name="password" value="<%= oldInputValues.password %>" placeholder="enter password"> <br><br>
    <button type="submit">login</button>
</form>


<a href="/reset-password">forgot password ?</a>

<%- include('../includes/bottom.ejs')  %>