<%- include('../includes/head.ejs')  %>
<%- include('../includes/navigation.ejs')  %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<% for (let error of errorMessage){ %>
    <h1><%= error %></h1>
<% } %>
<form action="new-password" method="post">
    <input type="password" name="password" placeholder="enter new password"> <br><br>
    <input type="password" name="repeat-password" placeholder="repeat password"> <br><br>
    <input type="hidden" name="userId" value="<%= userId %>">
    <button type="submit">set a new password</button>
</form>




<%- include('../includes/bottom.ejs')  %>