<%- include('../includes/head.ejs')  %>
<%- include('../includes/navigation.ejs')  %>






<!-- <div class=""  style='background-image: url("<%= tour.image %>)'></div>
<h2 class=""><%= tour.title %> </h2>
<p class=""><%= tour.price %>$</p>
<div class=""><%= tour.description %></div> -->



<%- include('../includes/bottom.ejs')  %>