<%- include('../includes/head.ejs') %> <%- include('../includes/navigation.ejs')
%>

<div class="tour_hero " data-rate="-0.06">
    <h1 class="tour_hero__title">
        <%= post.title%> <br />
        <p class="tour_hero__title--sub"><%= post.small_description %></p>
    </h1>
    <ul class="tour_hero__showcase-images">
        <% for(let i = 0; i < post.showcaseImagesUrls.length; i++){ %>
        <li class="tour_hero__showcase-images__image"
            style='background-image: url("/images/<%= post.showcaseImagesUrls[i] %>" )'></li>
        <% } %>
    </ul>
</div>

<main class="cafe_main">
    <section class="cafe_about">
        <div class="cafe_about__image"></div>

        <div class="cafe_about__text__container container">
            <div class="text">
                <h1 class="text__title">
                    <%= post.long_description__title %>
                </h1>

                <div class="text__description">about this place</div>

                <p class="text__text">
                    <%= post.long_description__text %>
                </p>

                <div class="text__time_of_opening">
                    <p class="text__time_of_opening__text">OPEN UNTIL</p>
                    <div class="text__time_of_opening__container">
                        <p class="text__time_of_opening__container__opened">
                            <%= post.timeOfOpenAndClose.opened %>
                            <span>am</span>
                        </p>
                        <img class="text__time_of_opening__container__arrow" src="../img/SVG/long_arrow.svg" alt="" />
                        <p class="text__time_of_opening__container__opened">
                            <%= post.timeOfOpenAndClose.closed %>
                            <span>am</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cafe_menu">
        <div class="cafe_menu__container">
            <h1 class="cafe_menu__title line-on-left">Menu</h1>


            <div class="cafe_menu__manu">
                <div class="cafe_menu__item">
                    <div class="cafe_menu__item__image"></div>

                    <div class="cafe_menu__item__container">
                        <h3 class="cafe_menu__item__container__name">some cafe the a good title</h3>
                        <p class="cafe_menu__item__container__desc"> some cafe the a good title some cafe the a good
                            title </p>
                        <div class="cafe_menu__item__container__ratting">
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="cafe_menu__item">
                    <div class="cafe_menu__item__image"></div>

                    <div class="cafe_menu__item__container">
                        <h3 class="cafe_menu__item__container__name">some cafe the a good title</h3>
                        <p class="cafe_menu__item__container__desc"> some cafe the a good title some cafe the a good
                            title </p>
                        <div class="cafe_menu__item__container__ratting">
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="cafe_menu__item">
                    <div class="cafe_menu__item__image"></div>

                    <div class="cafe_menu__item__container">
                        <h3 class="cafe_menu__item__container__name">some cafe the a good title</h3>
                        <p class="cafe_menu__item__container__desc"> some cafe the a good title some cafe the a good
                            title </p>
                        <div class="cafe_menu__item__container__ratting">
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="cafe_menu__item">
                    <div class="cafe_menu__item__image"></div>

                    <div class="cafe_menu__item__container">
                        <h3 class="cafe_menu__item__container__name">some cafe the a good title</h3>
                        <p class="cafe_menu__item__container__desc"> some cafe the a good title some cafe the a good
                            title </p>
                        <div class="cafe_menu__item__container__ratting">
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="cafe_menu__item">
                    <div class="cafe_menu__item__image"></div>

                    <div class="cafe_menu__item__container">
                        <h3 class="cafe_menu__item__container__name">some cafe the a good title</h3>
                        <p class="cafe_menu__item__container__desc"> some cafe the a good title some cafe the a good
                            title </p>
                        <div class="cafe_menu__item__container__ratting">
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="cafe_menu__item">
                    <div class="cafe_menu__item__image"></div>

                    <div class="cafe_menu__item__container">
                        <h3 class="cafe_menu__item__container__name">some cafe the a good title</h3>
                        <p class="cafe_menu__item__container__desc"> some cafe the a good title some cafe the a good
                            title </p>
                        <div class="cafe_menu__item__container__ratting">
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="cafe_menu__item">
                    <div class="cafe_menu__item__image"></div>

                    <div class="cafe_menu__item__container">
                        <h3 class="cafe_menu__item__container__name">some cafe the a good title</h3>
                        <p class="cafe_menu__item__container__desc"> some cafe the a good title some cafe the a good
                            title </p>
                        <div class="cafe_menu__item__container__ratting">
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="cafe_menu__item">
                    <div class="cafe_menu__item__image"></div>

                    <div class="cafe_menu__item__container">
                        <h3 class="cafe_menu__item__container__name">some cafe the a good title</h3>
                        <p class="cafe_menu__item__container__desc"> some cafe the a good title some cafe the a good
                            title </p>
                        <div class="cafe_menu__item__container__ratting">
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                            <img src="/img/SVG/star.svg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="info">
        <div class="container">
            <h1 class="title line-on-left">Info</h1>
            <div class="info">
                <div class="info_panel__wide">
                    <ul class="info_panel__wide__container">
                        <li class="info_panel__wide__content">
                            <div class="info_panel__wide__info">
                                <ul>
                                    <li><a href="">
                                            <p> <%= post.location %> </p>
                                        </a></li>
                                    <li><a href="http://<%=post.website %>">
                                            <p> website </p>
                                        </a></li>
                                    <li><a href="mailto:<%= post.email %>">
                                            <p> email </p>
                                        </a></li>
                                    <li><a href="tel:<%= post.telephone %>">
                                            <p> <%= post.telephone %> </p>
                                        </a></li>
                                </ul>
                            </div>
                        </li>


                        <li class="info_panel__wide__map">
                            <div class="info_panel__wide__map--map">
                                <div class="mapouter">
                                    <div class="gmap_canvas">
                                        <iframe id="gmap_canvas"
                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5955.428692862351!2d44.78577044816286!3d41.72668247381762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x404472cf60baf177%3A0xb3a4fd636288575d!2sMcDonald&#39;s!5e0!3m2!1sen!2sge!4v1562077939390!5m2!1sen!2sge"
                                            width="500" height="500" frameborder="0" style="border:0"
                                            allowfullscreen></iframe>
                                        <style>
                                            .mapouter {
                                                position: relative;
                                                text-align: right;
                                                height: 500px;
                                                width: 500px;
                                            }

                                            .gmap_canvas {
                                                overflow: hidden;
                                                background: none !important;
                                                height: 100%;
                                                width: 100%;
                                                bottom: 0
                                            }
                                        </style>
                                    </div>
                                </div>
                                <!-- <div class="mapouter">
                            <div class="gmap_canvas"><iframe width="500" height="500" id="gmap_canvas"
                                    src="https://maps.google.com/maps?q=<%= post.locationLink %>&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                <style>
                                    .mapouter {
                                        position: relative;
                                        text-align: right;
                                        height: 500px;
                                        width: 500px;
                                    }

                                    .gmap_canvas {
                                        overflow: hidden;
                                        background: none !important;
                                        height: 100%;
                                        width: 100%;
                                        bottom: 0
                                    }
                                </style>
                            </div>
                        </div> -->
                        </li>
                    </ul>

                </div>
                <div class="info__info__location"></div>
            </div>
        </div>
    </section>


    <section class="reviews">
        <div class="reviews__container container">
            <h2 class="title">Reviews</h2>
            <ul>
                <li>
                    <p>Price:</p>
                    <div class="ratting_stars">
                        <img src="/img/SVG/star.svg" alt="" />
                        <img src="/img/SVG/star.svg" alt="" />
                        <img src="/img/SVG/star.svg" alt="" />
                        <img src="/img/SVG/star.svg" alt="" />
                        <img src="/img/SVG/star.svg" alt="" />
                    </div>
                </li>
                <li> 
                    <p>Accesseby:</p>
                    <div class="ratting_stars">
                        <img src="/img/SVG/star.svg" alt="" />
                        <img src="/img/SVG/star.svg" alt="" />
                        <img src="/img/SVG/star.svg" alt="" />
                        <img src="/img/SVG/star.svg" alt="" />
                        <img src="/img/SVG/star.svg" alt="" />
                    </div>
                </li>
                <li>
                    <p>Price:</p>
                    <div class="ratting_stars">
                        <img src="/img/SVG/star.svg" alt="" />
                        <img src="/img/SVG/star.svg" alt="" />
                        <img src="/img/SVG/star.svg" alt="" />
                        <img src="/img/SVG/star.svg" alt="" />
                        <img src="/img/SVG/star.svg" alt="" />
                    </div>
                </li>
                <li>
                    <p>Price:</p>
                    <div class="ratting_stars">
                        <img src="/img/SVG/star.svg" alt="" />
                        <img src="/img/SVG/star.svg" alt="" />
                        <img src="/img/SVG/star.svg" alt="" />
                        <img src="/img/SVG/star.svg" alt="" />
                        <img src="/img/SVG/star.svg" alt="" />
                    </div>
                </li>
                <li>
                    <p>Price:</p>
                    <div class="ratting_stars">
                        <img src="/img/SVG/star.svg" alt="" />
                        <img src="/img/SVG/star.svg" alt="" />
                        <img src="/img/SVG/star.svg" alt="" />
                        <img src="/img/SVG/star.svg" alt="" />
                        <img src="/img/SVG/star.svg" alt="" />
                    </div>
                </li>
                <li>
                    <p>Price:</p>
                    <div class="ratting_stars">
                        <img src="/img/SVG/star.svg" alt="" />
                        <img src="/img/SVG/star.svg" alt="" />
                        <img src="/img/SVG/star.svg" alt="" />
                        <img src="/img/SVG/star.svg" alt="" />
                        <img src="/img/SVG/star.svg" alt="" />
                    </div>
                </li>
            </ul>
        </div>
    </section>



    <section class="rules">
            <div class="rules__container container">
                <h2 class="title">Rules</h2>
                <ul>
                    <li>
                        <img src="/img/SVG/Uniondenie.svg" alt="">
                        <p>asdasdas asdasdas asdasdas asdasdas asdasdas</p>
                    </li>
                    <li>
                        <img src="/img/SVG/Uniondenie.svg" alt="">
                        <p>asdasdas asdasdas asdasdas asdasdas asdasdas</p>
                    </li>
                    <li>
                        <img src="/img/SVG/Uniondenie.svg" alt="">
                        <p>asdasdas asdasdas asdasdas asdasdas asdasdas</p>
                    </li>
                    <li>
                        <img src="/img/SVG/Uniondenie.svg" alt="">
                        <p>asdasdas asdasdas asdasdas asdasdas asdasdas</p>
                    </li>
                    <li>
                        <img src="/img/SVG/Uniondenie.svg" alt="">
                        <p>asdasdas asdasdas asdasdas asdasdas asdasdas</p>
                    </li>
                    <li>
                        <img src="/img/SVG/Uniondenie.svg" alt="">
                        <p>asdasdas asdasdas asdasdas asdasdas asdasdas</p>
                    </li>
                </ul>
            </div>
        </section>
</main>

<%- include('../includes/bottom.ejs') %>