<%- include('../includes/head.ejs')  %>
<%- include('../includes/navigation.ejs')  %>




<div class="tour_hero "data-rate="-0.06">
    <h1 class="tour_hero__title"><%= cafe.title%> <br>
        <p class="tour_hero__title--sub"><%= cafe.small_description %></p>
    </h1>
    <ul class="tour_hero__showcase-images">

        <% for(let i = 0; i < cafe.showcaseImagesUrls.length; i++){ %>
        <li class="tour_hero__showcase-images__image"
            style='background-image: url("/images/<%= cafe.showcaseImagesUrls[i] %>" )'></li>
        <% } %>
    </ul>
</div>



<main class="cafe_main">
    <section class="cafe_about">
        <div class="cafe_about__image"></div>
        <h2 class="cafe_about__title"><%= cafe.long_description__title %></h2>
        <p class="cafe_about__text"><%= cafe.long_description__text %></p>
        <div class="cafe_about__description"></div>
        <div class="cafe_about__time_of_oppening">
            <p>OPEN UNTIL</p>
            <div class="about__time_of_oppening__container"></div>
            <p class="about__time_of_oppening__container__opened"><%= cafe.timeOfOpenAndClose.opened %> am</p>
            <p class="about__time_of_oppening__container__closed"><%= cafe.timeOfOpenAndClose.closed %> am</p>
        </div>
    </section>
</main>


 


<%- include('../includes/bottom.ejs')  %>